<div class="container">
    <button class="btnBack" (click)="closeModal()"><span
            class="material-symbols-outlined">arrow_back</span>Volver</button>
    <!-- Formulario para agregar -->
    <div class="addForm" id="addForm">
        <form autocomplete="false" #addUser="ngForm" (ngSubmit)="signUpUser()">
            <div class="userInfo">
                <h3>Registrar Usuario</h3>
                <div class="group">
                    <label for="inputName">Nombre: </label>
                    <input type="text" name="inputName" id="inputName" placeholder="Nombre" [(ngModel)]="name" />
                </div>
                <div class="group">
                    <label for="inputLast">Apellidos: </label>
                    <input type="text" name="inputLast" id="inputLast" placeholder="Apellidos"
                        [(ngModel)]="lastNames" />
                </div>
                <div class="group">
                    <label for="inputDate">Fecha de nacimiento: </label>
                    <input type="date" name="inputDate" id="inputDate" [(ngModel)]="birthDate" />
                </div>
                <div class="group">
                    <label for="inputTipoDoc">Tipo de documento: </label>
                    <select name="inputTipoDoc" id="inputTipoDoc" [(ngModel)]="selected">
                        <option disabled selected>Seleccione un tipo de documento . . .</option>
                        <option *ngFor="let dni of typesDNI" value="{{ dni.IdTipoDoc }}">{{ dni.TipoDoc }}</option>
                    </select>
                </div>
                <div class="group">
                    <label for="inputDoc">Nro.Documento: </label>
                    <input type="number" name="inputDoc" id="inputDoc" placeholder="Nro. Documento" [(ngModel)]="doc" />
                </div>
                <div class="group">
                    <label for="inputContact">Nro.Contacto: </label>
                    <input type="number" name="inputContact" id="inputContact" placeholder="Nro. Contacto"
                        [(ngModel)]="contact" />
                </div>
                <div class="group">
                    <label for="inputMail">Correo electrónico: </label>
                    <input type="email" name="inputMail" id="inputMail" placeholder="Correo electrónico"
                        [(ngModel)]="email" />
                </div>
                <div class="group">
                    <label for="inputAddress">Dirección: </label>
                    <input type="text" name="inputAddress" id="inputAddress" placeholder="Dirección"
                        [(ngModel)]="address" />
                </div>
                <div class="group">
                    <button type="submit" [disabled]="addUser.invalid">Enviar</button>
                </div>
            </div>
            <div class="userVehicle">
                <h3>Seleccionar Vehiculo</h3>
                <button class="vehicle" id="car" value="1" (click)="vehicleSelected('car')">
                  <img src="../../assets/images/car.png" alt="car" />
                </button>
                <button class="vehicle" id="bike" value="2">
                  <img src="../../assets/images/bike.png" alt="bike" (click)="vehicleSelected('bike')" />
                </button>
              </div>
        </form>
    </div>
</div>