<div class="container">
  <div class="search">
    <div class="searchBox" #searchBox>
      <input type="text" name="seach" id="search" placeholder="Documento de usuario" />
      <i class="uil uil-search"></i>
      <span class="hide" *ngIf="searchBox">Usuario no encontrado</span>
    </div>
    <div class="addUser hide">
      <span>
        <i class="uil uil-user-plus"></i>
        Agregar Usuario
      </span>
    </div>
  </div>
  <div class="users hide">
    <div class="userInfo" id="userInfo">
      <div class="info">
        <label>Nombre: </label>
        <input type="text" readonly />
      </div>
      <div class="info">
        <label>Apellido: </label>
        <input type="text" readonly />
      </div>
      <div class="info">
        <label>Fecha de nacimiento: </label>
        <input type="text" readonly />
      </div>
      <div class="info">
        <label>Tipo de documento: </label>
        <input type="text" readonly />
      </div>
      <div class="info">
        <label>Documento: </label>
        <input type="text" readonly />
      </div>
      <div class="info">
        <label>Contacto: </label>
        <input type="text" readonly />
      </div>
      <div class="info">
        <label>Correo: </label>
        <input type="text" readonly />
      </div>
      <div class="info">
        <label>Dirección: </label>
        <input type="text" readonly />
      </div>
    </div>
    <div class="addForm hide" id="addForm">
      <form action="" autocomplete="false">
        <div class="group">
          <label for="inputName">Nombre: </label>
          <input type="text" name="inputName" id="inputName" />
        </div>
        <div class="group">
          <label for="inputLast">Apellidos: </label>
          <input type="text" name="inputLast" id="inputLast" />
        </div>
        <div class="group">
          <label for="inputDate">Fecha de nacimiento: </label>
          <input type="date" name="inputDate" id="inputDate" />
        </div>
        <div class="group">
          <label for="inputTipoDoc">Tipo de documento: </label>
          <select name="inputTipoDoc" id="inputTipoDoc">
            <option disabled selected>Seleccione un tipo de documento. . .</option>
            <option value="1">Tarjeta de identidad</option>
            <option value="2">Cédula de ciudadanía</option>
            <option value="3">Cédula de extranjería</option>
            <option value="4">Pasaporte</option>
          </select>
        </div>
        <div class="group">
          <label for="inputDoc">Nro.Documento: </label>
          <input type="number" name="inputDoc" id="inputDoc" />
        </div>
        <div class="group">
          <label for="inputContact">Nro.Contacto: </label>
          <input type="number" name="inputContact" id="inputContact" />
        </div>
        <div class="group">
          <label for="inputMail">Correo electrónico: </label>
          <input type="email" name="inputMail" id="inputMail" />
        </div>
        <div class="group">
          <label for="inputAddress">Dirección: </label>
          <input type="text" name="inputAddress" id="inputAddress" />
        </div>
        <div class="group">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
    <div class="user-icon">
      <div class="vehicle">
        <img src="../../assets/images/car.png" alt="car">
      </div>
      <div class="vehicle hide">
        <img src="../../assets/images/bike.png" alt="bike">
      </div>
    </div>
  </div>
  <div class="table hide">
    <h3>Mensualidades</h3>
    <table>
      <thead>
        <tr>
          <th>Nro.</th>
          <th>Celda asignada</th>
          <th>Fecha inicio</th>
          <th>Fecha inicio</th>
          <th>Valor Pagado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>01/01/2022</td>
          <td>01/01/2022</td>
          <td>100.000</td>
          <td>
            <button>Editar</button>
            <button>Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
