<nav>
  <a routerLink="/home"><span class="material-symbols-rounded">home</span>Home</a>
</nav>
<section>
  <div class="loginBox" id="loginBox">
    <h2>Login</h2>
    <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="onLogin()" [formGroup]="login">
      <div class="group">
        <label for="doc">Documento</label>
        <input type="text" name="doc" placeholder="Nro. documento" formControlName="Documento" [class.invalid]="login.get('Documento')?.touched && 
                  login.get('Documento')?.errors?.['required']" [class.invalid]="login.get('Documento')?.touched && 
                  login.get('Documento')?.errors?.['pattern']" [class.valid]="!(login.get('Documento')?.touched && 
                  login.get('Documento')?.errors?.['required']) && 
                  login.get('Documento')?.valid" />
        <p *ngIf="login.get('Documento')?.touched && 
                  login.get('Documento')?.errors?.['required']">
          Este campo es requerido
        </p>
        <p *ngIf="login.get('Documento')?.touched && 
                  login.get('Documento')?.errors?.['pattern']">
          No se permiten letras
        </p>
      </div>
      <div class="group">
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" placeholder="Password" formControlName="Clave" [class.invalid]="login.get('Clave')?.touched && 
        login.get('Clave')?.errors?.['required']" />
        <p *ngIf="login.get('Clave')?.touched && 
                  login.get('Clave')?.errors?.['required']">
          Este campo es requerido
        </p>
      </div>
      <div class="group">
        <button type="submit" class="btn" [disabled]="loginForm.invalid">Ingresar</button>
      </div>
      <div class="group">
        <a routerLink="/signUp">¿No tienes cuenta? - Registrarte</a>
      </div>
    </form>
  </div>
</section>