<div class="container">
  <app-modal-registro
    class="hide"
    id="addForm"
    (propagar)="desplegar($event)"
  ></app-modal-registro>

  <div class="main" id="main">
    <div class="search">
      <div class="searchBox">
        <form autocomplete="off">
          <input
            type="text"
            name="seach"
            id="search"
            placeholder="Buscar Nro. documento"
            [(ngModel)]="searchText"
          />
        </form>
        <p id="error" class="hide">Usuario no encontrado</p>
      </div>
      <!-- Add user -->
      <div class="addUser">
        <button (click)="desplegar('addUser')">
          <span class="material-symbols-outlined">person_add</span>
          Agregar Usuario
        </button>
      </div>
    </div>
    <!-- Users list -->
    <div class="table" id="lista">
      <h3>Usuarios</h3>
      <table>
        <thead>
          <tr>
            <th *ngFor="let campo of columnas">{{ campo }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usuarios | filter: searchText">
            <td>{{ user.idUsuario }}</td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.apellido }}</td>
            <td>{{ user.documento }}</td>
            <td>
              <button (click)="buscar(user.documento)">
                <span class="material-symbols-outlined">visibility</span>
              </button>
              <button>
                <span class="material-symbols-outlined">edit</span>
              </button>
              <button>
                <span class="material-symbols-outlined"
                  >power_settings_new</span
                >
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="users" *ngIf="userFound != null">
    <button (click)="desplegar('btnBack')">
      <span class="material-symbols-outlined">arrow_back</span>
      Volver
    </button>
    <div class="userInfo">
      <div class="resultGroup" *ngFor="let info of userFound">
        <h3>Información del usuario</h3>
        <div class="group">
          <label>Nombre:</label>
          <input readonly [value]="info.nombre" />
        </div>
        <div class="group">
          <label>Apellidos:</label>
          <input readonly [value]="info.apellido" />
        </div>
        <div class="group">
          <label>Fecha de nacimiento:</label>
          <input readonly [value]="snipDate(info.fechaNacimiento)" />
        </div>
        <div class="group">
          <label>Tipo de documento:</label>
          <input readonly [value]="showDoc(info.idTipoDoc)" />
        </div>
        <div class="group">
          <label>Nro. Documento:</label>
          <input readonly [value]="info.documento" />
        </div>
        <div class="group">
          <label>Nro. Contacto:</label>
          <input readonly [value]="info.contacto" />
        </div>
        <div class="group">
          <label>Correo electrónico:</label>
          <input readonly [value]="info.correo" />
        </div>
        <div class="group">
          <label>Dirección:</label>
          <input readonly [value]="info.direccion" />
        </div>
      </div>
    </div>
  </div>

  <div class="message-container">
    <div class="message">
      <app-modal-registro class="hide" (propagar)="apiResponse($event)">
        <p id="msg"></p>
      </app-modal-registro>
    </div>
  </div>
</div>
