.container {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

/* ========== Search Style Start ========== */
.search {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 2rem;
}

.searchBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem 1rem;
}

.searchBox form {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.searchBox input {
  width: 90%;
  height: 1.8rem;
}

.searchBox p {
  margin: 0.3rem 0 0 1rem;
  color: var(--color-danger);
  transition: var(--transition);
}

.addUser {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.addUser button {
  width: 25%;
  height: 1.8rem;
  padding: 0 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: var(--transition);
}

.addUser button span {
  transition: var(--transition);
}

.addUser button:hover span {
  color: var(--color-white);
}

/* ========== Search Style Start ========== */

/* ========== Users Style Start ========== */
.users {
  width: 60%;
  height: 100%;
  margin-top: 1rem;
}

.users button {
  height: 1.8rem;
  display: flex;
  align-items: center;
  margin: 0 0 1.5rem 0;
  padding: 0 0.3rem 0 0;
  gap: 0.3rem;
}

.users button span {
  font-size: 1.3rem;
  transition: var(--transition);
}

.users button:hover span {
  color: var(--color-white);
}

.users .userInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
  border: 2px solid var(--color-black);
  border-radius: 1rem;
  background-color: var(--color-light-gray);
}

.users .userInfo .resultGroup {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.users .userInfo .resultGroup h3 {
  margin-bottom: 1rem;
  color: var(--color-black);
}

.users .userInfo .resultGroup .group {
  display: flex;
  align-items: center;
  position: relative;
}

.users .userInfo .resultGroup .group label {
  color: var(--color-black);
}

.group input,
select,
p {
  width: 50%;
  position: absolute;
  right: 0;
  transition: var(--transition);
}

.group input:focus,
select:focus {
  outline: 3px solid var(--color-white);
}

/* ========== Users Style Start ========== */

/* ========== Table Style Start ========== */
.table {
  width: 100%;
  padding: 1rem;
}

.table h3 {
  margin: 0.8rem 0;
}

.table table {
  width: 80%;
  border-collapse: collapse;
  border-radius: 10px;
  text-align: center;
  background: var(--color-light-gray);
}

.table table th {
  height: 2rem;
  border-bottom: 2px solid var(--color-black);
}

.table table td {
  padding: 0.8rem 0;
}

.table table td button {
  width: fit-content;
  border-radius: 5px;
  transition: var(--transition);
  cursor: pointer;
}

.table table td button:nth-child(1) {
  padding: 0.3rem;
  background-color: var(--color-info);
}

.table table td button:nth-child(1) span {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  transition: var(--transition);
}

.table table td button:nth-child(1):hover {
  background-color: var(--color-analogue1);
}

.table table td button:nth-child(1):hover span {
  color: var(--color-white);
}

/* Button 2 */
.table table td button:nth-child(2) {
  padding: 0.3rem;
  background-color: var(--color-warning);
}

.table table td button:nth-child(2) span {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  transition: var(--transition);
}

.table table td button:nth-child(2):hover {
  background-color: var(--color-accent);
}

.table table td button:nth-child(2):hover span {
  color: var(--color-white);
}

/* Button 3 */
.table table td button:nth-child(3) {
  padding: 0.3rem;
  background-color: var(--color-danger);
}

.table table td button:nth-child(3) span {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  transition: var(--transition);
}

.table table td button:nth-child(3):hover {
  background-color: var(--color-dark-danger);
}

.table table td button:nth-child(3):hover span {
  color: var(--color-white);
}

/* ========== Table Style End ========== */

.hide {
  display: none;
}