<div class="container">
  <nav></nav>
  <section>
    <div class="loginBox">
      <div class="group">
        <label for="doc">Documento</label>
        <input type="text" name="doc" id="doc" />
      </div>
      <div class="group">
        <label for="pass">Contraseña</label>
        <input type="text" name="pass" id="pass" />
      </div>
      <div class="group">
        <button type="submit" class="btn">Ingresar</button>
        <!-- <a (click)="signUpFor()">Registrarse</a> -->
      </div>
    </div>
  </section>
</div>
